.input {
    padding: 20px 15px;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    color: var(--text-color);
    background: var(--bg-filled-color);
    font-size: 18px;
    width: 100%;
}

.inputdashboard {
    padding: 11px 10px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    background: var(--bg-filled-color);
    font-size: 18px;
    width: 100%;
}

.select {
    padding: 12px 15px !important;
    border: 1px solid var(--text-color) !important;
    border-radius: 12px !important;
    color: var(--text-color) !important;
    background: var(--bg-filled-color) !important;
    font-size: 18px !important;
    width: 100% !important;
    outline: none !important;
    box-sizing: border-box !important;
}

.collection {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--bg-filled-color);
}

.collection:hover {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: rgb(55,95,204) !important;
}

.collectioninput {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--bg-filled-color);
}

.collectionLogo {
    width: 34px;
    height: 34px;
    margin-right: 12px;
    border-radius: 50%;
}

.collectionName {
    font-size: 18px;
    color: var(--text-color);
}

/* .collectionName:hover {
    margin-left: 12px;
    font-size: 18px;
    color: var(--text-color);
    background: var(--bg-filled-color) !important;
} */

.bitcoin {
    background-image: url(/bitcoin3.svg);
    width: 35px;
    height: 35px;
}

.ethereum {
    background-image: url(/eth.svg);
    width: 35px;
    height: 35px;
}
